
@media screen and (max-width: 600px){
    .ytVideo iframe{
        width: 100%;
    }   
}

@media screen and (max-width: 676px){
    .cs-banner-image-container img{
        width: 82%;
    }
}

@media screen and (max-width: 760px){
    .m-crates-features{
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .m-w-767-100{
        max-width: 100% !important;
    }
}

@media screen and (max-width: 797px){
    .d-797{
        &#{-none}{
            display: none;
        }
        &#{-block}{
            display: block !important;
        }
    }
}

@media screen and (max-width: 1380px){
    .call-for-action{
        @media screen and (min-width: 992px){
            max-width: 80.66%;
            margin-left: 11%;
        }
        
    }

    .m-how-crates-work{
        margin: 0 !important;
        max-width: 100%;
        @media screen and (max-width: 1235px){
            > .row{
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                > div{
                    .cs-mt-70{
                        margin-top: 0 !important;
                    }
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width : 1435px){
    .hero-media{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        @media screen and(max-width: 1280px) {
            margin-left: 0 !important;
        }
        
        @media screen and (max-width: 945px){
            .cs-h3{
                font-size: 35px !important;
            }
        }
        
        @media screen and (max-width: 1060px){
            .cs-slogan{
                left: -106px;
                &:after{
                    width: 30% !important;
                    @media screen and (max-width: 676px){
                        display: none !important;
                    }
                }               
                  
                @media screen and (max-width: 831px){
                    top: 50%;
                    left: 20% !important;
                    -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                }  
                @media screen and (max-width: 748px){
                    left: -8% !important;
                }          
                            
                @media screen and (max-width: 676px){
                    padding: 0 !important;
                    left: 28% !important;
                    background: transparent !important;
                }                

            }
        }
        
    }
}

