.kt-content {
    background: #f9f9fc;
}

.kt-demo-panel .kt-demo-panel__body .kt-demo-panel__item .kt-demo-panel__item-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #6c7293;
    text-align: center;
    margin-bottom: 0.5rem;
}

.kt-demo-panel .kt-demo-panel__body .kt-demo-panel__item .kt-demo-panel__item-preview {
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 4px solid #ebedf2;
    border-radius: 4px;
}

.kt-demo-panel .kt-demo-panel__body .kt-demo-panel__item .kt-demo-panel__item-preview img {
    width: 100%;
}

.kt-demo-panel .kt-demo-panel__body .kt-demo-panel__item .kt-demo-panel__item-preview .kt-demo-panel__item-preview-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

/* .btn-brand {
    color: #fff;
    background-color: #22b9ff;
    border-color: #22b9ff;
    color: #ffffff;
} */
