.m-list-search .m-list-search__results .m-list-search__result-category.m-list-search__result-category--first {
    margin-top: 0;
}

.m-list-search .m-list-search__results .m-list-search__result-category {
    color: #716aca;
}

.m-list-search .m-list-search__results .m-list-search__result-category {
    display: block;
    margin: 30px 0 10px 0;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}

.m-list-search .m-list-search__results .m-list-search__result-item {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 5px 0;
    outline: none;
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-icon {
    color: #cfcedb;
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-icon {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    padding: 1px;
    width: 32px;
    font-size: 1.2rem;
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-text {
    color: #7b7e8a;
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-text {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    font-size: 1rem;
}
