#validation_container {
    margin-left: 23px !important;
    margin-right: 23px !important;
    margin-bottom: 23px !important;
}

.validation_index {
    width: inherit;
}

.validation_breadcumb {
    display: flex;
    justify-content: space-between;
}

.add_validation_btn {
    background: #22b9ff;
    color: white;
    outline: none !important;
    border: none !important;
}

.add_validation_btn:hover {
    background: #1ca9eb;
}

.add_validation_section_div {
    display: flex;
    justify-content: space-between;
}

.validation_section_add_icon {
    cursor: pointer;

}

.validation_section_add_icon:hover {
    color: #fff;
}

.col_style {
    background: #fff;

    border-radius: 4px;
    border: 1px solid #dcdcdc;
}

.left_col_style {
    padding: 20px !important;
}

.validation_active {
    padding-top: 1.15rem;
    padding-bottom: 1.25rem;
    /* margin-bottom: 20px; */
    transition: all 0.3s;
    /* background-color: #5d58d129; */
    border-left: 2px solid #22b9ff;
}

.sideValidNav {
    margin-top: 40px !important;
}

.sideValidationNavSearch {
    margin-top: 10px;
    padding: 0px !important;
}

.create_new_section {
    cursor: pointer;
}

.sideValidNav ul li {
    padding-top: 1.15rem;
    padding-bottom: 0.25rem;
    cursor: pointer;
}

.sideValidNav ul .validation_active:hover {
    background-color: #22b9ff !important;
}

.sideValidNav ul .validation_active:hover>.kt-nav__link {
    background-color: none !important;
}

.sideValidNav ul li a:hover {
    background-color: none !important;
}

.load_validations {
    padding-left: 14px !important;
    padding-bottom: 0px !important;
}

.load_validations span {
    font-size: 14px !important;
    /* font-weight: 600px !important; */
}

#lookupTableContainer {
    padding: 0 !important;
}

.validation_table_section_title {
    font-size: 17px;
    font-weight: 500;
}

.validationTableContent {
    padding: 20px 21px 7px 14px !important;
    border-bottom: 1px solid #ebedf2;
}

.validation_section_dynamic_table {
    margin: 28px 23px 28px 23px;
    padding: 0 !important;
}

.validation_section_dynamic_table .kt-datatable__table {
    min-height: 125px !important;
    border: none !important;
}

.sideValidationNavSearch .bootstrap-select {
    width: 100% !important;
}

.kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)>.kt-nav__link {
    background: none !important;
}

.sideValidNav .kt-nav.kt-nav--v3 .kt-nav__item.active .kt-nav__link {
    border-left: none !important;
    background: none !important;
}

.sideValidNav .kt-nav.kt-nav--bold .kt-nav__item .kt-nav__link .kt-nav__link-text {
    font-weight: 400;
}

.sideValidNav .kt-nav.kt-nav--v3 .kt-nav__item .kt-nav__link {
    border-left: none !important;
}

.section_edit_delete {
    display: none;
}



.section_edit_delete {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: flex-end;
    padding-top: 11px;
}

.validation_section_li_edit {
    font-size: 16px;
    padding: 0px 9px;
    display: none;
    position: absolute;
    top: -10;
    margin-top: -32px;
    margin-left: -29px;
    cursor: pointer;
}

.validation_section_li_delete {
    font-size: 16px;
    display: none;
    position: absolute;
    top: -10;
    margin-top: -31px;
    margin-left: -13px;
    cursor: pointer;
}
